.App {
  padding: 50px;
}
button {
  padding: 5px;
  font-weight: 600;
  font-size: 1.2em;
  margin: 5px;
}
a {
  text-decoration: none;
}

.navbar-nav {
  margin-bottom: 30px;
}
.navbar-nav a {
  margin-right: 30px;
}
