.box {
  box-shadow: 2px 2px 5px rgba(128, 128, 128, 0.371);
  border-radius: 5px;
}

.container {
  max-width: 992px;
  display: flex;
  margin: 100px auto;
  gap: 30px;
  flex-direction: column;
  padding: 20px;
  @extend .box;
}

.search {
  display: flex;
  gap: 10px;
  input {
    width: 100%;
    outline: none;
  }
}

.list-note {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card {
  padding: 20px;
  border-radius: 5px !important;
  background-color: rgb(79, 187, 123) !important;
  textarea {
    width: 100%;
    color: black;
    background: inherit;
    outline: none;
  }
  @extend .box;
}

.btn-group {
  display: flex;
  justify-content: space-between;
}
.bg-blue {
  background-color: #646fb2 !important;
}
